[Unit]
Description=Crown apparel service
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=apiKey=$REACT_APP_FIREBASE_API_KEY
Type=simple
User=$HOME
WorkingDirectory=/home/$HOME/crownAppTypescript/
ExecStart=/usr/bin/npm start 
Restart=on-failure

[Install]
WantedBy=multi-user.target