[Unit]
Description=Crown apparel service
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=jasondoze
WorkingDirectory=/home/jasondoze/crownAppTypescript/
ExecStart=/usr/bin/npm start 
Restart=on-failure

[Install]
WantedBy=multi-user.target